.timer-view-digital-display-text {
    background-color: black;
    color: white;
    display: block;
    font-family: monospace;
    text-align: center;
    user-select: none;
    flex-flow: 1;
    font-size: 5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 100VH;
}